.search-box{
  position: absolute;
  z-index: 99;
  top: 100px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  /* transition: all .5s ease-in-out;
  opacity: 0; */
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.search-box>.search-txt{
  width: 500px;
  padding: 0 6px;
}

.recommend-list{
  position: fixed;
  top: 100px;
  left: 50%;
  display: none;
  transform: translate(-50%, 0);
  z-index: 99;
  overflow: hidden;
  overflow-y: scroll;
  padding: 30px 0 10px;
  width: 572px;
  color: white;
  background: #2f3640;
  border-radius: 0 0 40px 40px;
  justify-content: center;
  transition: height 0.2s ease-in-out;
  -webkit-border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -ms-border-radius: 0 0 40px 40px;
  -o-border-radius: 0 0 40px 40px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
}
.recommend-list::-webkit-scrollbar {
  display: none;
}
.recommend-list .lists{
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  width: 100%;
  user-select: none;
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
}
.recommend-list .lists:hover{
  color: #2F77FF;
  background-color: rgba(85, 82, 82, 0.4);
}


.search-btn{
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.4s; */
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  /* transition: 0.4s; */
  line-height: 40px;
  width: 0px;
}